body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #202020;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px 0;
}

#score {
    margin-bottom: 10px;
    font-size: 1.2em;
}

canvas {
    border: 2px solid #fff;
    background-color: #000;
    display: block;
    margin: 0 auto;
}

#gameOver {
    color: red;
    font-size: 2em;
    margin-top: 20px;
}

.hidden {
    display: none;
}
#controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#controls button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#controls button:active {
    background-color: #666;
}
